<div class="row">
	<div class="span6 offset1">
		<div class="well">

			<p>
			  <h3><%= @trip.description %></h3>
			</p>
			
			<p>
				<b>Dates:</b>
				<%= @trip.start_date %> to <%= @trip.end_date %>
			</p>					
			<p><b>Display:</b><br />
				<label class="checkbox"><input type="checkbox" id="TypeAccommodation"><em> Associated Accommodations (<%= @accommodations_count %>),</em></label>
				<label class="checkbox"><input type="checkbox" id="TypeHot_Spot"><em> Associated Hot Spots (<%= @hot_spots_count %>),</em></label>
				<label class="checkbox"><input type="checkbox" id="TypeNote"><em> Associated Notes (<%= @notes_count %>)</em></label>
			
			</p>
			<p>
				<em>Trip curated by <%= @trip.user.username %></em>
			</p>

			<% if current_user == @trip.user %>
				<%= link_to 'Edit', edit_trip_path(@trip) %> |
				<%= link_to 'Back to Trips', trips_path %>
			<% end %>

		</div>
	</div>
</div>
<div id="container">
	<div class="type_accommodation" style="display:none">
		<%= render @accommodations %>
	</div>

	<div class="type_hot_spot" style="display:none">
		<%= render @hot_spots %>
	</div>
	
	<div class="type_note" style="display:none">
		<%= render @notes %>
	</div>
	
</div>