<div class="row">
	<div class="span6 offset3">
		<div class="well">

			<p>
			  <b>Description:</b>
			  <%= @trip.description %>
			</p>
			
			<p>
				<b>Dates:</b>
				<%= @trip.start_date %> to <%= @trip.end_date %>
			</p>					
			<p>
				<em><b>
				Associated Accommodations (<%= @accommodations_count %>), Associated Hot Spots (<%= @hot_spots_count %>), Associated Notes (<%= @notes_count %>)</b></em>
			</p>
			<p>
				<em>Trip curated by <%= @trip.user.username %></em>
			</p>

			<% if current_user == @trip.user %>
				<%= link_to 'Edit', edit_trip_path(@trip) %> |
				<%= link_to 'Back to Trips', trips_path %>
			<% end %>

		</div>
	</div>
</div>
<div id="container" >
	<%= render @accommodations %>
	<%= render @hot_spots %>
	<%= render @notes %>	
</div>