<div class="box">
	<p><span class="note_label">Note:</span> <b><%= note.subject %></b>
	</p>

	<p>
		<%= note.description %>
	</p>

	<p>
		<% trip_idn = current_user.trips.find(note.trip_id) %>
		<em>Associated with <b><%= link_to  current_user.trips.find(trip_idn).description, trip_idn %></b></em>
	</p>
	
	<p>
		<% if current_user == note.user %>
			<%= link_to 'Show', note %> |
			<%= link_to 'Edit', edit_note_path(note) %> |
			<%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %>
		<% end %>
	</p>
</div>
