<div class="row">
	<div class="span6 offset3">
		<div class="well">
			<p>
			  <b>Subject:</b>
			  <%= @note.subject %>
			</p>

			<p>
			  <b>Description:</b>
			  <%= @note.description %>
			</p>
			<p>
				<em>Associated with <b><%= link_to @trip_description, @trip %></b><br />
					Created by <%= @note.user.username %></em>
			</p>
			<p>
				<% if current_user == @note.user %>
					<%= link_to 'Edit', edit_note_path(@note) %> |
					<%= link_to 'Back to Notes', notes_path %>
					<% end %>
			</p>
		</div>
	</div>
</div>
