<div class="box">
	<p><span class="hot_spot_label">Hot Spot:</span> <b><%= hot_spot.title %></b>
      </p>

      <p>
        <% if !hot_spot.category.empty? %>
          <b>Category:</b>
          <%= hot_spot.category %>
        <% end %>
      </p>

      <p>
        <% if !hot_spot.address.empty? %>
          <b>Address:</b>
          <%= hot_spot.address %>
        <% end %>
      </p>

      <p>
        <% if !hot_spot.phone.empty? %>
          <b>Phone:</b>
          <%= hot_spot.phone %>
        <% end %>
      </p>

      <p>
        <% if !hot_spot.hours.empty? %>
          <b>Hours:</b>
          <%= hot_spot.hours %>
        <% end %>
      </p>

      <p>
        <% if !hot_spot.description.empty? %>
          <b>Description:</b>
          <%= hot_spot.description %>
        <% end %>
      </p>

      <p>
        <% if !hot_spot.link.empty? %>
          <b>Link:</b>
          <%= hot_spot.link %>
        <% end %>
      </p>

      <p>
        <% if !hot_spot.other.empty? %>
          <b>Other:</b>
          <%= hot_spot.other %>
        <% end %>
      </p>
      <p>
        <% trip_idn = current_user.trips.find(hot_spot.trip_id) %>
        <em>Associated with <b><%= link_to  current_user.trips.find(trip_idn).description, trip_idn %></b></em>
      </p>

	<p>
		<% if current_user == hot_spot.user %>
			<%= link_to 'Show', hot_spot %> |
			<%= link_to 'Edit', edit_hot_spot_path(hot_spot) %> |
			<%= link_to 'Destroy', hot_spot, method: :delete, data: { confirm: 'Are you sure?' } %>
		<% end %>
	</p>
</div>