<div class="row">
  <div class="span6 offset3">
    <div class="well">

      <p>
        <b>Title:</b>
        <%= @hot_spot.title %>
      </p>

      <p>
        <b>Category:</b>
        <%= @hot_spot.category %>
      </p>

      <p>
        <b>Address:</b>
        <%= @hot_spot.address %>
      </p>

      <p>
        <b>Phone:</b>
        <%= @hot_spot.phone %>
      </p>

      <p>
        <b>Hours:</b>
        <%= @hot_spot.hours %>
      </p>

      <p>
        <b>Description:</b>
        <%= @hot_spot.description %>
      </p>

      <p>
        <b>Link:</b>
        <%= @hot_spot.link %>
      </p>

      <p>
        <b>Other:</b>
        <%= @hot_spot.other %>
      </p>

      <p>
        <em>Created by <%= @hot_spot.user.username %></em>
      </p>

      <p>
        <% if current_user == @hot_spot.user %>
          <%= link_to 'Edit', edit_hot_spot_path(@hot_spot) %> |
          <%= link_to 'Back to Hot Spots', hot_spots_path %>
        <% end %>
      </p>
      
    </div>
  </div>
</div>
