<div class="box">
	<p><span class="accommodation_label">Accommodation:</span> <b><%= accommodation.title %></b>
	</p>

	<p>
		<b>Reservation #</b> <%= accommodation.reservation_number %>
	</p>

	<p>
		<b>Date:</b> <%= accommodation.booking_start_date %> to <%= accommodation.booking_end_date %>
	</p>

	<p>
		<b>Phone:</b> <%= accommodation.phone %>
	</P>

	<p>
		<b>Price:</b> <%= accommodation.price %>
	</p>

	<p>
		<b>Other:</b> <%= accommodation.additional_info %>
	</p>

	<p>
		<% if current_user == accommodation.user %>
			<%= link_to 'Show', accommodation %> |
			<%= link_to 'Edit', edit_accommodation_path(accommodation) %> |
			<%= link_to 'Destroy', accommodation, method: :delete, data: { confirm: 'Are you sure?' } %>
		<% end %>
	</p>
</div>