<%= simple_form_for(@accommodation, html: { class: "form-horizontal"}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :reservation_number %>
    <%= f.input :booking_start_date %>
    <%= f.input :booking_end_date %>
    <%= f.input :phone %>
    <%= f.input :price %>
    <%= f.input :additional_info %>
    <%= f.association :trip, collection: current_user.trips.all, label_method: :description %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
