<div class="row">
  <div class="span6 offset3">
    <div class="well">

      <p>
        <b>Title:</b>
        <%= @accommodation.title %>
      </p>

      <p>
        <% if !@accommodation.reservation_number.empty? %>
          <b>Reservation #</b><%= @accommodation.reservation_number %>
        <% end %>
      </p>

      <p>
        <b>Dates:</b>
            <%= @accommodation.booking_start_date %>  to <%= @accommodation.booking_end_date %>
      </p>

      <p>
        <% if !@accommodation.phone.empty? %>
          <b>Phone:</b>
          <%= @accommodation.phone %>
        <% end %>
      </p>

      <p>
        <% if !@accommodation.price.empty? %>
          <b>Price:</b>
          <%= @accommodation.price %>
        <% end %>
      </p>

      <p>
        <% if !@accommodation.additional_info.empty? %>
          <b>Additional info:</b>
          <%= @accommodation.additional_info %>
        <% end %>
      </p>

      <p>
        <em>Associated with <b><%= link_to @trip_description, @trip %></b><br />
          Created by <%= @accommodation.user.username %></em>
      </p>

      <p>
        <% if current_user == @accommodation.user %>
        <%= link_to 'Edit', edit_accommodation_path(@accommodation) %> |
        <%= link_to 'Back to Accommodations', accommodations_path %>
        <% end %>
      </p>

    </div>
  </div>
</div>