<h1>Curated by <%= @user.username %></h1>

<div id="container">
	<%= render @trips %>
	<%= render @destinations %>
	<%= render @accommodations %>
	<%= render @hot_spots %>
	<%= render @notes %>
</div>