<% if user_signed_in? %>

	<h3>Welcome back, <%= current_user.username %>!</h3>	

	<div id="container">
		<%= render current_user.trips.all %> 
		<%= render current_user.destinations.all %> 
		<%= render current_user.accommodations.all %> 
		<%= render current_user.hot_spots.all %>
		<%= render current_user.notes.all %>
	</div>

<% else %>

	<h1>Welcome to On Our Way!</h1>
	<p>On Our Way is a central place to help organize your next trip.</p>
	<p><%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %></p>

<% end %>
