<!DOCTYPE html>
<html>
<head>
  <title>On Our Way</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container-fluid">
<%= render 'layouts/header' %>

<% if user_signed_in? %>
	
	<div class="row-fluid">
		
		<div class="span3" >

			<%= render 'layouts/left_nav' %>
	
			<!--<%= render 'layouts/right_nav' %>-->
		</div>

		<div class="span9">
			<% flash.each do |name,msg| %>
			<%= content_tag(:div, msg, class: "alert alert-#{name}") %>
			<% end %> 

			<%= yield %>
		</div>

	</div>

<% else %>

<div >
	<% flash.each do |name,msg| %>
	<%= content_tag(:div, msg, class: "alert alert-#{name}") %>
	<% end %> 

	<%= yield %>
	
</div>

<% end %>

</div>

</body>
</html>
