<!DOCTYPE html>
<html>
<head>
  <title>On Our Way</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container-fluid">
<%= render 'layouts/header' %>

	<div class="row-fluid">

		<div class="span8">
			<%= render 'layouts/left_nav' %>
		</div>

		<div class="span4">
			<%= render 'layouts/right_nav' %>
		</div>

	</div>

	<div class="row-fluid">

			<% flash.each do |name,msg| %>
			<%= content_tag(:div, msg, class: "alert alert-#{name}") %>
			<% end %>

			<%= yield %>

	</div>


</div>

</body>
</html>
